@import "./variables.scss";

html {
  font-size: $global-font-size;
}

button {
  display: block;
  border: 0;
  outline: none;
  border-radius: 0;
  font-weight: $bold;
  letter-spacing: 0.1em;
  background: $main;
  color: $white;
  transition: all 0.5s ease;
  text-decoration: none;
  -webkit-appearance: none;
  padding: 1rem;

  &:hover,
  &:focus {
    background: $main-dark;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  background: $body-bg;
  font-family: $global-font-family;
  font-size: $global-font-size;
  line-height: 1.3;
}

p {
  margin: 0;
  white-space: normal;
}
