button {
  color: #B0B0B0;
  background: #555;
  padding: 10px 10px;
  border: 0;
  border: solid 1px #000;
  position: absolute;
  z-index: 10;
  text-shadow: 2px 2px #000;
  font-family: serif;
  font-size: 20px;
  &:hover {
    color: #f0f0f0;
  }
  &:focus {
    outline: 0;
  }
  &:first-child {
    margin: 1em;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
  white-space: normal;
}
