$background-color:#fff;
$footer-color:#5E0087;
$dark-violet: #5E0087;
$a-color:#000;
$grey-color: #555;
$dark-red: #4f0000;
$menucolor: #222;
$sky-color: #ffe221;

$menu-width:300px;


//font properties
$global-font-size: 16px;